:root {
    --container-width: 160px;
    --time-font: 600 22px "Lucida Sans Typewriter";
    --task-font-size: 13px
}

* {
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
    box-sizing: border-box;
    overflow: hidden;
}

#container {
    /* background-color: rgba(255, 255, 255, 0.4); */
    width: var(--container-width);
    padding: 4px;
    border: 4px solid transparent;
    border-radius: 8px;
}

body.editing #container {
    background-color: white;
    border-color: #009688;
}

body.editing.task-running #container {
    background-color: white;
    border-color: #9c27b0;
}

#time {
    text-align: center;
    font: var(--time-font);
    color: #009688;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
}

body.task-running #time {
    color: #9c27b0;
}

#task {
    text-align: center;
    display: none;
    font-family: Tahoma;
    font-size: var(--task-font-size);
    color: hsl(291deg 66% 51%);
}

body.task-running #task {
    display: block;
}

#buttons {
    display: none;
    text-align: center;
}

#buttons button {
    padding: 2px;
    margin: 2px 0;
    -webkit-app-region: no-drag;
}

body.editing #buttons {
    display: block;
}