:root {
    --container-width: 130px;

    --time-font: 600 18px "Lucida Sans Typewriter";
    --time-running-color: #e65100;
    --time-afk-color: #3f51b5;

    --task-font-size: 10px;
    --task-running-color: gray;

    --body-hovered-opacity: 0.1;
    --body-transition: opacity 1s;
    --body-transition-delay: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    transition: var(--body-transition);
    transition-delay: var(--body-transition-delay);
}

body.transparent {
    opacity: var(--body-hovered-opacity);
}

body.editing {
    opacity: 1 !important;
}

#container {
    width: var(--container-width);
    padding: 4px;
    border: 4px solid transparent;
    border-radius: 8px;
}

body.editing #container {
    background-color: white;
    border-color: var(--time-afk-color)
}

body.editing.task-running #container {
    background-color: white;
    border-color: var(--time-running-color);
}

#time {
    text-align: center;
    font: var(--time-font);
    color: var(--time-afk-color);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
}

body.task-running #time {
    color: var(--time-running-color);
}

#task {
    text-align: center;
    display: none;
    font-family: Tahoma;
    font-size: var(--task-font-size);
    color: var(--task-running-color);
}

body.task-running #task {
    display: block;
}

#buttons {
    display: none;
    text-align: center;
}

#buttons button {
    padding: 2px;
    margin: 2px 0;
    -webkit-app-region: no-drag;
}

body.editing #buttons {
    display: block;
}